.shop-bg {
  background-image: url("https://res.cloudinary.com/dipqsr0fw/image/upload/v1729511001/Free_digital_birthday_scrapbooking_paper___sweets_-_ausdruckbares_Geschenkpapier_-_freebie_t9cal8.jpg");
  min-height: 100vh;
  background-size: fill;
  width: 100vw;
}
.products-list {
  list-style-type: none;
  display: flex;
  backdrop-filter: blur(4px);
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.shop-head {
  color: rgb(211, 14, 106);
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
}
.search-container {
  border-radius: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  justify-content: center;
  backdrop-filter: blur(14px);
  padding: 10px;
}
.blur-container{
  backdrop-filter: blur(14px);
  min-height: 100vh;
}
.search-el {
  background-color: transparent;
  border: none;
  overflow: unset;
  width: 97%;
  outline: none;
  box-shadow: none;
}

.search-icon {
  color: black;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.searchh {
  padding: 5px;
  border-radius: 9px;
  width: 350px;
  border: 1px solid black;
  color: black;
}
.products-error-view-container {
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products-failure-img {
  width: 50%;
}
.product-failure-heading-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 35px;
  color: black;
}
.products-failure-description {
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 18px;
  color: black;
}
.no-products-view {
  height: 100vh;
  backdrop-filter: blur(14px);
}
.no-products-heading{
  color: rgb(0, 49, 224);
  font-size: 35px;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}
.no-products-description{
  color: rgb(89, 43, 226);
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn-retry{
  color: white;
  background-color: rgb(43, 58, 226);
  height: 35px;
  width: 80px;
  border: none;
  outline: none;
  border-radius: 9px;
  font-weight: bold;
}
.products-loader-container{
  backdrop-filter: blur(14px);
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}